extends layout/site-layout
include modules/mixins

append config
    - var PageTitle         = "homework #2"
    - var MetaDesc          = "Meta Description for current page!!!"
    - var jQuery            = true
    - var updateBodyClass   = BodyClasses.push( 'extraclass', 'secondclass' )
    - var thisPage          = "Scaffold Startup"
    - var PageTitle         = PageTitle.concat(' | ' + thisPage)
    
block content
    .controls-panel
        .container
            input#cities(type="text", name="cities")
    .container
        .cities-list
